<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Chi tiết điện thoại</h1>
            <div>
                <label>Mã điện thoại</label>
                <input type="text" class="form-control" ng-model="inputValue.ma" disabled>
            </div>
            <div>
                <label>Tên điện thoại</label>
                <input type="text" class="form-control" ng-model="inputValue.ten" disabled>
            </div>
            <div>
                <label>Hãng điện thoại</label>
                <select class="form-control" ng-model="inputValue.hang" disabled>
                    <option value="Samsung">Samsung</option>
                    <option value="Apple">Apple</option>
                    <option value="Oppo">Oppo</option>
                </select>
            </div>
            <div>
                <label>Giá điện thoại</label>
                <input type="number" class="form-control" ng-model="inputValue.gia" disabled>
            </div>
            <div class="text-center">
                <a href="#!/list-phone" class="btn btn-secondary mt-4">Quay lại</a>
            </div>
        </div>
    </div>
</div>