<div class="container">
    <div class="row d-flex align-items-center flex-column">
        <div class="col-md-7">
            <h1 class="text-center">Danh sách điện thoại</h1>
        </div>
        <div class="col-md 2">
            <a href="#!/phone/add" class="btn btn-success">Thêm mới</a>
        </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Mã</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Hãng</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr   ng-repeat="value in data">
                    <td>{{ value.ma }}</td>
                    <td>{{ value.ten }}</td>
                    <td>{{ value.hang }}</td>
                    <td>{{ value.gia }}</td>
                    <td>
                        <a href="#!/detail/phone/{{ value.id }}" class="btn btn-info">Chi tiết</a>
                        <a href="#!/edit/phone/{{ value.id }}" class="btn btn-warning">Chỉnh sửa</a>
                        <button ng-click="confirm(value.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">Xóa</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cảnh báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có thực sự muốn xóa không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" ng-click="onDelete()" class="btn btn-danger">Xác nhận xóa</button>
      </div>
    </div>
  </div>
</div>